- form_for @section do |f|
  = render :partial => 'form', :locals => { :f => f }
  %p.submit
    = f.submit "Update"

#section-content.container
  .span-17
    #add-article.span-17.ui-block.inactive
      .header.clear
        %h6.info 
          = link_to "New Article", new_section_article_path(:section_id => @section ), :class => 'add button remote_add_article', :'data-target' => '#section-content #add-article-inset', :id => 'add-article-button'
      #add-article-inset.js-staging.simple
        .remote_content
    .clear

    = render :partial => 'placements', :locals => { :placements => @section.placements, :section => @section }  

  = render :partial => 'available_articles', :locals => { :section => @section }

- content_for :dom_ready do
  :plain
    //Article Submit
    $('#add-article-inset,.edit-article-inset').livequery( function() { $(this).fn( RD.article_inset() ); } );
    $('#add-article-inset :submit,.edit-article-inset :submit').livequery( 'click', function(ev) {
      var article_inset = $(ev.target).parents('#add-article-inset,.edit-article-inset').eq(0);
      $(ev.target).parents('li[id^=placement_ids_]').addClass('updated');
      $(ev.target.form).fn( RD.remote_form( {
        response: function(response) {
          $(article_inset).fn('after_submit', response );
          $('.placements_list').each( function() { $(this).fn('refresh'); } );
          RD.notify('article saved');
        }
      } ));
      $(ev.target.form).fn( 'submit', 'json' );

      return false;
    } );

    //Delete Placement
    $('.destroy_placement').livequery( 'submit', function(ev) {
      
      $(this).fn(RD.remote_form( { response: function() {
        var item = $(ev.target).parents('li[id^=placement_ids]').eq(0);
        item.hide('puff');
        item.queue( function() { $(this).remove(); $(this).dequeue(); } );
        //$(ev.target).parents('li[id^=placement_ids]').eq(0).hide('puff').remove();
      } } ));
      $(this).fn('submit', 'json');
      return false;
    });
    


    //Cancel button, new article and edit
    $('#add-article-inset .cancel,.edit-article-inset .cancel').livequery( 'click', function(ev) {
      var article_inset = $(ev.target).parents('#add-article-inset,.edit-article-inset').eq(0);
      article_inset.fn('cancel');
      return false;
    } );

    //Show edit form
    $('.placements_list .edit').livequery( 'click', function(ev) {
      var article_inset = $(ev.target).parents('li[data-article-id]').eq(0).find('.edit-article-inset').eq(0);
      $(article_inset).fn('edit');
      return false;
    } );

    //Show add form
    $('#add-article-button').livequery( 'click', function(ev) {
      var article_inset = $('#add-article-inset');
      $(article_inset).fn('new');
      return false;
    } );
    

