- form_for @section do |f|
  = render :partial => 'form', :locals => { :f => f }
  %p.submit
    = f.submit "Update"

#section-content.container
  .span-17
    #add-article.span-17.ui-block.inactive
      .header.clear
        %h6.info 
          = link_to "New Article", new_section_article_path(:section_id => @section ), :class => 'add button remote_add_article', :'data-target' => '#section-content #add-article-inset', :id => 'add-article-button'
      #add-article-inset.js-staging.simple
        .remote_content
    .clear

    - ordered, unordered = @section.placements.partition { |p| p.list_order }
    %ol#top-items.plain.section_placements.ui-block
      %h6.info
        Top Items
      .clear
      .reloadable
        .content
          - if ordered and !ordered.empty?
            - for placement in ordered
              = render :partial => 'sections/list/placement', :locals => { :placement => placement }
          - else
            %li

    %ul#recent-items.plain.section_placements.ui-block
      %h6.info
        Recent Items
      .clear
      .reloadable
        .content
          - if unordered and !unordered.empty?
            - for placement in unordered
              = render :partial => 'sections/list/placement', :locals => { :placement => placement }
          - else
            %li
    
  -#= link_to "new", new_section_article_path(:section_id => @section ), :class => 'add button'
  -#.span-3.prepend-3
    %ul#remove-items.plain.ui-block
      %h6#remove-title.info
        Remove
      .clear

  .span-6
    %ul#available-items.section_placements.ui-block.plain
      %h6.info
        Add
      .clear
      - form_for @section.placements.build, :html => {:class => 'js-hide', :id => 'create-placement' } do |f|
        = f.select "article_id", article_options( :exclude_section => @section ), {}, :id => 'add_article_select'
        = f.hidden_field "list_order"
        = f.hidden_field "section_id"
        = f.submit "Add" #, :id => 'create-placement-button', :class => 'remote_create_placement'

      - form_tag section_available_articles_path(:section_id => @section ), :method => :get, :class => 'js-only', :id => 'available-search-form' do
        = text_field_tag "query[fulltext]", params[:query] || "Search", :class => 'large', :id => 'articles-search'
        = submit_tag "Go", :class => 'js-staging'

      .reloadable.js-only
        .content
          


  #remote-staging.js-staging

- content_for :dom_ready do
  = "var auth_token = '#{form_authenticity_token}'"
  = "RD.section = #{@section.to_json}.section;"
  :plain
    RD.auth_token = auth_token;
    var success_message = function(response) { RD.notify("success"); };

    //Refresh the content list
    $('#section-content').bind( 'refresh', function(ev) {
      $('#section-content #top-items .reloadable').load( '/sections/' + RD.section.id + '/edit #top-items .content', RD.ui.initialize );
      $('#section-content #recent-items .reloadable').load( '/sections/' + RD.section.id + '/edit #recent-items .content', RD.stacks.try('refresh') );
    } );

    //Cancel button, new article and edit
    $('#add-article-inset,.edit-article-inset').click( function(ev) {
      if( !$(ev.target).is('.cancel') ) { return true; }
      var article_inset = $(ev.target).parents('#add-article-inset,.edit-article-inset').eq(0);
      $(article_inset).hide(1200);
      $(article_inset).queue( function() {
        $('.remote_content', article_inset).html('');
        $(this).dequeue();
      } );
      $(article_inset).queue( function() {
        $(article_inset).parents('#add-article').addClass('inactive');
        $(this).dequeue();
      } );
      return false;

    } );

    //Edit or add an article
    $('#section-content').click( function(ev) {
      if( !$(ev.target).is('.edit,#add-article-button') ) { return true; }
      if( $(ev.target).is('.edit') ) {
        var article_inset = $(ev.target).parents('li[data-article-id]').eq(0).find('.edit-article-inset').eq(0);
      } else {
        var article_inset = $('#add-article-inset');
        $(article_inset).parents('#add-article').removeClass('inactive');
      }
      if( $(article_inset).is(':visible')) { 
        $(article_inset).hide('blind', {}, 2000 ); 
        $(article_inset).parents('#add-article').addClass('inactive');
        $(article_inset).parents('li[data-article-id]').find('.description').eq(0).show('blind');
        return false;
      }
      RD.stacks.create('show_article_form', article_inset, function() {
        $(this).parents('li[data-article-id]').find('.description').eq(0).hide('blind');
        $(this).show('blind', {}, 2000 );
      } );
      $( '.remote_content', article_inset ).load( ev.target.href, RD.stacks.try('show_article_form'));
      return false;
    } );
    
    //Article Search
    $('#available-search-form').submit( function(ev) {
      $('#available-items .content').html('');
      $('#available-items .reloadable').load( $(ev.target).attr('action') + '?' + $(ev.target).serialize() + ' .content' );
      return false;
    } );

    //Article Submit
    $('#add-article-inset,.edit-article-inset').click( function(ev) {
    //$('#add-article-inset,.edit-article-inset').livequery( 'click', function(ev) {
      if( !$(ev.target).is(':submit') ) { return true; }
      var article_inset = $(ev.target).parents('#add-article-inset,.edit-article-inset').eq(0);
      RD.stacks.create('submit', article_inset, function() {  $(this).hide( 1000 ); });
      RD.stacks.submit.add( function() {  $('.remote_content', article_inset).html('') } );
      RD.stacks.submit.add( function() {  $(article_inset).parents('#add-article').addClass('inactive'); } );

      RD.interface.submit( {
        form: $(ev.target.form),
        callback: function( response ) {
          //highlight the new item
          var to_highlight = '#section-content li[data-article-id=' + response.article.id + ']';
          RD.stacks.create('refresh', '#section-content', function() {  $( to_highlight ).show('puff', {}, 1000 ); });
          RD.stacks.refresh.add( function() {  RD.notify('article saved'); });

          RD.stacks.try('submit')();
          $('#section-content').trigger('refresh');
        }
      } );
      return false;
    } );

    //Sortables for placement ordering
    //Update Top Items
    $('#top-items').sortable({ 
      tolerance: 'intersect',
      placeholder: 'shadow-droppable',
      opacity: .7,
      items: '.content > li',
      containment: '#section-content',
      update: function(ev) { 
        //$('#top-items')[0].list.create_any_pending_and_save();
        console.log('change to top');
        if( RD.placements.is_pending('#top-items')) {
          RD.placements.create_pending('#top-items');
        } else {
          RD.placements.save_order('#top-items');
        }
      },
      connectWith: [ "#recent-items", '#available-items' ]
    });

    RD.create_placement_list('#top-items');

    //Update Recent Items
    $('#recent-items').sortable( { 
      placeholder: 'shadow-droppable',
      items: '.content > li',
      containment: '#section-content',
      connectWith: [ '#top-items','#available-items' ], 
      update: function(ev) { 
        console.log('change to recent');
        if( RD.placements.is_pending('#recent-items')) {
          RD.placements.create_pending('#recent-items');
        } else {
          RD.placements.default_order('#recent-items');
        }
      }
    } );

    //Update Available Items
    $('#available-items').sortable( { 
      placeholder: 'shadow-droppable',
      items: '.content > li',
      containment: '#section-content',
      connectWith: [ '#top-items', '#recent-items' ], 
      update: function(ev) { 
        console.log('change to available');
        //$.post( '/placement_orderings', '_method=delete&authenticity_token=' + auth_token + '&' + $('#recent-items').sortable( 'serialize' ), function() { $('#recent-items,#top-items').trigger('ready') } );
      }
    } );

    //Refresh ordered lists
    $('#recent-items,#top-items').bind('ready', function(ev) {
      $('.content li:empty', this).remove();
      if( $('.content li', this).length === 0 ){
        $('.content', this).html('<li></li>');
      }
      RD.ui.initialize();
    } );

    //New Placement
    $('#create-placement').submit( function(ev) {
      //if( !$(ev.target).is(':submit')) { return true; }
      RD.interface.submit( {
        form: $(ev.target),
        callback: function( response ) {
          var to_highlight = '#section-content li[data-article-id=' + response.placement.article_id + ']';
          RD.stacks.create('refresh', '#section-content', function() {  
            if( $( to_highlight ).is(':visible')) { $(to_highlight).hide();  }
            $( to_highlight ).show('puff', {}, 1000 ); 
          });
          RD.stacks.refresh.add( function() {  RD.notify('article added'); });
          $('#section-content').trigger('refresh');
        }
      });
      return false;
    } );
    

