!!!
%head
  %title
    = controller.controller_name.titleize
    &mdash;
    = controller.action_name.titleize
  = stylesheet_link_tag 'blueprint/print', :media => 'print'
  = stylesheet_link_tag 'blueprint/screen', :media => 'screen, projection'
  <!--[if IE]>
  = stylesheet_link_tag 'blueprint/ie'
  <![endif]-->
  = stylesheet_link_tag 'application'
  = stylesheet_link_tag 'forms'
  = stylesheet_link_tag 'ui'

%body{ :class => "#{controller.controller_name} #{controller.action_name}" }
  #container.span-24
    #header.container
      = render 'layouts/menu'
      .flash-notice
        = flash[:notice]
      .flash-error
        = flash[:error]
      #ajax_message.inactive.js-only
    #main.container
      = yield
    #footer.container

  = javascript_include_tag 'jquery/jquery-1.2.6.js'
  = javascript_include_tag 'jquery/plugins/jquery.fn.js'
  = javascript_include_tag 'jquery/plugins/jquery.livequery.js'
  = javascript_include_tag js_ui(:core)
  = javascript_include_tag js_ui(:sortable)
  = javascript_include_tag js_effect(:core)
  = javascript_include_tag js_effect(:scale)
  = javascript_include_tag js_effect(:shake)
  = javascript_include_tag js_effect(:blind)
  = javascript_include_tag js_effect(:highlight)
  = javascript_include_tag js_effect(:transfer)
  = javascript_include_tag 'tiny_mce/tiny_mce'
  = javascript_include_tag 'application'
  = javascript_include_tag 'messages'
  -#= javascript_include_tag 'sections'
  -#= javascript_include_tag 'section_content'
  = javascript_include_tag 'placements_list'
  = javascript_include_tag 'remote_form'
  = javascript_include_tag 'article_inset'
  = yield :javascript

  - javascript_tag do
    $('body').bind('dom.updated', RD.dom_updated );
    $( function() {
    $('body').ajaxError( function(ev, req, options, error ) { RD.notify('problem') } );
    = yield :dom_ready
    $('body').trigger('dom.updated');
    //window.setTimeout( function() { window.tinyMCE.init( RD.tinymce_config )}, 3000 );
    } );

